body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }




form {
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 940px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #ffffff;
    font-size: 35px;
    margin: 0;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.line {
    display: inline-block;
    width: 50px;
    height: 7px;
    background: linear-gradient(
        90deg,
        rgb(39, 103, 241) 0%,
        rgb(1, 18, 254)77%);
}

label {
    color:#ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #9e9e9e;
    color: #a7a7a7;
    outline: none;
}


.input-file {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    outline: none;
}



.inp {
    text-transform: none;
    padding: 17px 10px;
    border: 2px solid transparent;
    color: #e7e7e7;
    outline: none;
}


.inp::placeholder {
    color: #ececec;
}




input::placeholder {
    color: #c0c0c0;
}


select {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #ededed;
    color: #000000;
    outline: none;
}





.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.form-txt a{
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}


.label-txt {
    color: #fdfdfd;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}




.btnn {
    font-size: 16px;
    color: #FFFCFF;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(
        90deg,
        rgb(39, 103, 241) 0%,
        rgb(1, 18, 254)77%);

    box-shadow: 0 0 20px rgb(1, 18, 254);
    cursor: pointer;

}

.btnn:hover{
    background: linear-gradient(
        90deg,
        rgb(1, 18, 254)0%,
        rgb(39, 103, 241) 77%);

}




.rgg {
    
padding: 15px; /*espacio alrededor texto*/
text-decoration: none; /*decoración texto*/


font-size: 16px;
text-align: center;
    color: #FFFCFF;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(
        90deg,
        rgb(39, 103, 241) 0%,
        rgb(1, 18, 254)77%);

    box-shadow: 0 0 20px rgb(1, 18, 254);
    cursor: pointer;



}


.rgg:hover{
    background: linear-gradient(
        90deg,
        rgb(1, 18, 254)0%,
        rgb(39, 103, 241) 77%);

}




@media(max-width:991px){
    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px 10px;
    }

}
